<html>

	<head>
	<meta charset="utf-8" />
	<title>traitement</title>
	<link  rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/listageMachines.css')}}">
	</head>

	<body>

		<div id="main">
		
			<div id="texte">

			<h1>Web Ui</h1>
			
			<p>
			Formulaire web ---- Formulaire web ----- Formulaire web ----
			Formulaire web ---- Formulaire web ----- Formulaire web ----
			Formulaire web ---- Formulaire web ----- Formulaire web ----
			Formulaire web ---- Formulaire web ----- Formulaire web ----
			</p>
			
			</div>

			<div id="contenu">
				
						<ul id="nav-box">	
							<li><a href="creationMachines">Creer Machine</a></li>
							<li><a href="listageMachines">Lister Machines</a></li>
							<li><a href="ADA">ADA</a></li>
						</ul>

				<div id="centre">
						<p>					
						
							<h3>Cr&eacute;ation OK</h3>

							</p>
						
				</div>
				
				<div id="droite">
					<p>
						<p>
						<p>DROITE</p>
					</p>
				</div>
				
			</div>		
		</div>

	</body>

</html>